/.gradle/
/build/
/output.cnf.txt
/output.hist.txt
/output.sat.txt
/output.txt
/lamp.lisp
/gradlew
/gradlew.bat
gradle/*
/gradle/
output.1.txt
output.dict.txt
output.smt.txt
bin/*
.DS_Store
*.lisp
*.cltloc
*.vocabulary
NUL
scalabilityresults.txt
/bin/
